@charset "UTF-8";

body{
    background-color: rgb(66, 147, 201);
    font: normal 18pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    margin: auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.192);
    padding: 10px;
    max-width: 615px;
}
select {
    width: 180px;
}
footer {
    text-align: center;
    color: white;
}